extends layout
block append head
    link(href='app.css', media="screen", rel="stylesheet", type="text/css")
    script(src='../../node_modules/moment/moment.js')
    script(src='models/asset_model.js')
    script(src='viewmodels/asset_vm.js')
    script(src='viewmodels/assetSet_vm.js')
    script(src='viewmodels/main_vm.js')
    script(src='viewmodels/options_vm.js')
    script(src='views/asset_view.js')
    script(src='views/assetSet_view.js')
    script(src='views/main_view.js')
    script(src='views/assetSummary_view.js')
    script(src='views/assetSchedule_view.js')
    script(src='views/options_view.js')
    script(src='locale/locale_en.js')
    script(src='spec/backend.js')