html
    head
        title GluJS Development Helper
    body
        h2 Examples
        p
            a(href='/examples/helloworld/extjs3') Hello World (ExtJS 3)
        p
            a(href='/examples/helloworld/extjs4') Hello World (ExtJS 4)
        p
            a(href='/examples/assets/extjs4') Assets (ExtJS 4)
        p
            a(href='/examples/assets/spec') Assets (ExtJS 4) Specification Testing
