doctype 5
html
    head
        block head
            - if (extjs_version == 3)
                link(href='/lib/extjs-3.x/resources/css/ext-all.css', media="screen", rel="stylesheet", type="text/css")
                script(src='/lib/extjs-3.x/adapter/ext/ext-base-debug.js')
                script(src='/lib/extjs-3.x/ext-all-debug.js')
            - if (extjs_version == 4)
                link(href='/lib/extjs-4.x/resources/css/ext-all.css', media="screen", rel="stylesheet", type="text/css")
                script(src='/lib/extjs-4.x/bootstrap.js')
            - if (extjs_version == 'touch')
                link(href='/lib/senchatouch-2.x/resources/css/sencha-touch.css', media="screen", rel="stylesheet", type="text/css")
                script(src='/lib/senchatouch-2.x/sencha-touch-all-debug.js')
            - if (extjs_version == 4 ||  extjs_version == 3)
                script(src='/src/providers/sencha/setup.js')
                script(src='/src/providers/sencha/provider.js')
                script(src='/src/providers/sencha/binder_collect.js')
                script(src='/src/providers/sencha/binder_apply.js')
                script(src='/src/providers/sencha/binder_adapter.js')
                script(src='/src/providers/sencha/items_helper.js')
                script(src='/src/providers/sencha/adapters_extjs/basic.js')
                script(src='/src/providers/sencha/adapters_extjs/autofield.js')
                script(src='/src/providers/sencha/adapters_extjs/button.js')
                script(src='/src/providers/sencha/adapters_extjs/buttongroup.js')
                script(src='/src/providers/sencha/adapters_extjs/checkbox.js')
                script(src='/src/providers/sencha/adapters_extjs/combo.js')
                script(src='/src/providers/sencha/adapters_extjs/component.js')
                script(src='/src/providers/sencha/adapters_extjs/compositefield.js')
                script(src='/src/providers/sencha/adapters_extjs/container.js')
                script(src='/src/providers/sencha/adapters_extjs/dataview.js')
                script(src='/src/providers/sencha/adapters_extjs/displayfield.js')
                script(src='/src/providers/sencha/adapters_extjs/editor.js')
                script(src='/src/providers/sencha/adapters_extjs/field.js')
                script(src='/src/providers/sencha/adapters_extjs/fieldcontainer.js')
                script(src='/src/providers/sencha/adapters_extjs/fileuploadfield.js')
                script(src='/src/providers/sencha/adapters_extjs/label.js')
                script(src='/src/providers/sencha/adapters_extjs/menu.js')
                script(src='/src/providers/sencha/adapters_extjs/panel.js')
                script(src='/src/providers/sencha/adapters_extjs/pickerfield.js')
                script(src='/src/providers/sencha/adapters_extjs/progress.js')
                script(src='/src/providers/sencha/adapters_extjs/radiogroup.js')
                script(src='/src/providers/sencha/adapters_extjs/spinnerfield.js')
                script(src='/src/providers/sencha/adapters_extjs/tabpanel.js')
                script(src='/src/providers/sencha/adapters_extjs/textfield.js')
                script(src='/src/providers/sencha/adapters_extjs/toolbar.js')
            - if(extjs_version == 3)
                script(src='/src/providers/sencha/adapters_extjs4/button-extra.js')
                script(src='/src/providers/sencha/adapters_extjs4/grid.js')
                script(src='/src/providers/sencha/adapters_extjs4/paging.js')
            - if (extjs_version == 4)
                script(src='/src/providers/sencha/adapters_extjs4/button-extra.js')
                script(src='/src/providers/sencha/adapters_extjs4/grid.js')
                script(src='/src/providers/sencha/adapters_extjs4/paging.js')
            - if (extjs_version == 'touch')
                script(src='/src/providers/sencha/adapters_touch2/setup.js')
                script(src='/src/providers/sencha/provider.js')
                script(src='/src/providers/sencha/binder_collect.js')
                script(src='/src/providers/sencha/binder_apply.js')
                script(src='/src/providers/sencha/binder_adapter.js')
                script(src='/src/providers/sencha/items_helper.js')

                // script(src='/src/providers/sencha/adapters_extjs/basic.js')
                script(src='/src/providers/sencha/adapters_touch2/component.js')
                script(src='/src/providers/sencha/adapters_touch2/container.js')
                script(src='/src/providers/sencha/adapters_touch2/label.js')
                script(src='/src/providers/sencha/adapters_touch2/field.js')
                script(src='/src/providers/sencha/adapters_touch2/textfield.js')
                script(src='/src/providers/sencha/adapters_touch2/checkboxfield.js')
                // script(src='/src/providers/sencha/adapters_touch2/panel.js')

                // script(src='/src/providers/sencha/adapters_extjs/field.js')
                // script(src='/src/providers/sencha/adapters_extjs/textfield.js')
                // script(src='/src/providers/sencha/adapters_extjs/label.js')
                // script(src='/src/providers/sencha/adapters_extjs/button.js')
                // script(src='/src/providers/sencha/adapters_touch2/list.js')



            script(src='/src/glu.js')
            script(src='/src/symbol.js')
            script(src='/src/conventions.js')
            script(src='/src/log.js')
            script(src='/src/observable.js')
            script(src='/src/reactor.js')
            script(src='/src/model.js')
            script(src='/src/modelFactory.js')
            script(src='/src/list.js')
            script(src='/src/store.js')
            script(src='/src/viewmodel.js')
            script(src='/src/datamodel.js')
            script(src='/src/rowviewmodel.js')
            script(src='/src/activatorlist.js')
            script(src='/src/graphobservable.js')
            script(src='/src/test/test_ajax.js')
            script(src='/src/test/test_data.js')
            script(src='/src/test/test_spec.js')
            script(src='/src/test/test_synth.js')
    body
        block body