extends layout
block append head
    link(href='/lib/extjs-4.x/resources/css/ext-all-access.css', media="screen", rel="stylesheet", type="text/css")
    link(href='app.css', media="screen", rel="stylesheet", type="text/css")
    script(src='models/patient_model.js')
    script(src='models/patientanalytics_model.js')
    script(src='models/doctor_model.js')
    script(src='models/nurse_model.js')
    script(src='models/episode_model.js')
    script(src='viewmodels/patient_vm.js')
    script(src='viewmodels/patientAnalytics_vm.js')
    script(src='viewmodels/patientAggregate_vm.js')
    script(src='viewmodels/patientProfile_vm.js')
    script(src='viewmodels/episodeSummary_vm.js')
    script(src='viewmodels/patientSet_vm.js')
    script(src='viewmodels/doctorSet_vm.js')
    script(src='viewmodels/main_vm.js')
    script(src='viewmodels/options_vm.js')
    script(src='views/SearchColumnRenderer.js')
    script(src='views/patient_view.js')
    script(src='views/patientAnalytics_view.js')
    script(src='views/patientAggregate_view.js')
    script(src='views/patientProfile_view.js')
    script(src='views/patientSet_view.js')
    script(src='views/doctorSet_view.js')
    script(src='views/main_view.js')
    script(src='views/patientSummary_view.js')
    script(src='views/patientEpisodes_view.js')
    script(src='views/options_view.js')
    script(src='views/episodeSummary_view.js')
    script(src='locale/locale_en.js')
    script(src='spec/backend.js')