extends layout
block append head
    title Glu Spec Runner for ExtJS #{extjs_version}

    link(rel='stylesheet', type='text/css', href='../lib/jasmine/jasmine.css')
    script(src='../lib/jasmine/jasmine.js')
    script(src='../lib/jasmine/jasmine-html.js')
    script(src='/spec/run.js')
    script(src='TestHelpers.js')
    script(src='pluginSpec.js')

    script(src='Providers/extjs/InterfaceSpec.js')
    script(src='Providers/extjs/localizationSpec.js')
    script(src='Providers/extjs/ButtonSpec.js')
    script(src='Providers/extjs/comboSpec.js')
    script(src='Providers/extjs/handlerSpec.js')
    script(src='Providers/extjs/listenerSpec.js')
    script(src='Providers/extjs/menuSpec.js')
    script(src='Providers/extjs/autoFieldSpec.js')
    script(src='Providers/extjs/BoundPropertySpec.js')
    script(src='Providers/extjs/transformerSpec.js')
    script(src='Providers/extjs/traversalSpec.js')
    script(src='Providers/extjs/itemBindingSpec.js')
    script(src='Providers/extjs/itemBindingObservingSpec.js')
    script(src='Providers/extjs/entrypointSpec.js')
    script(src='Providers/extjs/validationSpec.js')
    script(src='Providers/extjs/fieldSpec.js')
    script(src='Providers/extjs/testSpec.js')
    script(src='Providers/extjs/gridSpec.js')
    script(src='symbolSpec.js')
    script(src='bindingConventionSpec.js')
    script(src='modelSpec.js')
    script(src='dataModelSpec.js')
    script(src='bindContextSpec.js')
    script(src='layoutSpec.js')
    script(src='mixinSpec.js')
    script(src='reactorSpec.js')
    script(src='activatorSpec.js')
    script(src='basicLocalizationSpec.js')
    script(src='graphobservableSpec.js')
    script(src='rowviewmodelspec.js')