extends layout
block append head
	title Transaction
	script(src='viewmodels/Class.js')
	script(src='viewmodels/School.js')
	script(src='views/Class.js')
	script(src='views/School.js')
	script(src='lookups.js')
	script(src='App.js')