extends senchatouch-layout
block append head
	title School Step 1
	script(src='/lib/senchatouch-2.0.x/microloader/development.js')
	script(src='models/school_model.js')
	script(src='spec/backend.js')

