extends layout
block append head
    title Glu Spec Runner for ExtJS #{extjs_version}
    link(href='/lib/jasmine/jasmine.css', rel='stylesheet')
    script(src='/lib/jasmine/jasmine.js')
    script(src='/lib/jasmine/jasmine-html.js')
    script(src='../lib/underscore.js')
    script(src='/spec/run.js')
    script(src='Providers/touch/test_models.js')
    script(src='Providers/touch/containerSpec.js')
    script(src='Providers/touch/labelSpec.js')
    script(src='Providers/touch/textfieldSpec.js')
    script(src='Providers/touch/checkboxfieldSpec.js')
