extends layout
block append head
    link(href='app.css', media="screen", rel="stylesheet", type="text/css")
    script(src='models/todo_model.js')
    script(src='viewmodels/main_vm.js')
    script(src='viewmodels/todoitem_vm.js')
    script(src='views/main_view.js')
    script(src='views/todoitem_view.js')
    script(src='locale/locale_en.js')
    script(src='spec/backend.js')