// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
$homeContainerBackground: white;
.home_container {

}

.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.reminder_container,
.notification_container {
  background-color: $homeContainerBackground;
  @include box-shadow(#003366 0 3px 4px);
  color: black;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px 5px 10px
//top right botton left
}

.reminder_header,
.notification_header {
  padding:5px;
  margin:5px 15px 0px 5px;
}

.reminder_header,
.notification_header .x-label {
  margin-left:20px;
}

.reminder_header,
.notification_header .notification_badge {
  margin-top:-1px;
}



.reminder_summary,
.notification_detail,
.notification_summary {
  height:55px;
  color: gray;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}


.reminder_summary .x-label,
.notification_detail .x-label,
.notification_summary .x-label {
  margin: 0 0 0 5px;
}


.notification_icon {
  color:black;
  font-size:1em;
}

.truncate .x-innerhtml {
  //width:300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}